.cart {
  display: flex;
  max-width: 100%;

  @media (max-width: 900px) {
    flex-direction: column;

    .left {
      margin: 0;
    }
  }
  .left {
    flex: 0.7;
    margin-right: 10px;
    background-color: transparent;
    padding: 10px;

    h2 {
      margin-bottom: 20px;
      margin-left: 10px;
    }
  }
  .right {
    flex: 0.3;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 10px 25px #888;
    height: fit-content;
  }
  .info {
    border-bottom: 2px solid black;
    p {
      padding: 8px;
    }
  }
  div {
    button {
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      &:hover {
        background-color: rgba(181, 181, 231, 0.739);
      }
    }
  }
}
